@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text: #0D1117;
    --color-background: #F6F8FA;
    --color-primary: #2F81F7;
    --color-secondary: #D9DEE4;
    --color-accent: #2DBA8D;
    --color-border: #D9DEE4;
  }

  .dark {
    --color-text: #E6EDF3;
    --color-background: #0D1117;
    --color-primary: #58A6FF;
    --color-secondary: #30363D;
    --color-accent: #39D39F;
    --color-border: #30363D;
  }

  html, body {
    @apply font-body text-base text-text bg-background;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@media print {
  /* Ocultar la barra de navegación y el pie de página */
  nav, footer {
    display: none;
  }

  /* Asegurarse de que el contenido del CV ocupe todo el espacio */
  body, #root {
    background-color: #ffffff;
    color: #000000;
  }
  
  main.container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  #cv-container {
    box-shadow: none;
    border: none;
    padding: 1rem;
    margin: 0;
    max-width: 100%;
    border-radius: 0;
  }
  
  h1,h2,h3,h4,h5,h6,p,span,a,li {
    color: #000000 !important;
  }

  /* Evitar saltos de página inoportunos */
  h2, h3 {
    page-break-after: avoid;
  }

  p, ul {
    page-break-inside: avoid;
  }

  a {
    text-decoration: none;
  }
}
