@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply font-body text-base text-text bg-background;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
